 
<!-- Basic binding -->
<div >
    {{homeControllerVm.Name +' '+ Name}}
</div>
<div ng-bind="homeControllerVm.Name +' '+ Name"> 
</div>
<div ng-repeat="name in homeControllerVm.Names" >
    {{name}}
</div>
<input type="text" name="txtNamebind" ng-model="Name" required />

<!--Validation-->
<form name="frm">
    <input type="text" name="txtName" ng-model="Name" required/>
    <span ng-show="frm.txtName.$error.required">{{frm.txtName.$error.required}}</span>
</form>

<!--- init-->
<div ng-init="Name = 'Kumar M'" ng-bind="homeControllerVm.Name +' '+ Name">
</div>

<!--filters-->
<!--inbult-->
<div>
    {{homeControllerVm.Name +' '+ Name | uppercase }}
</div>
<!--Custom-->
<div>
    {{homeControllerVm.Name +' '+ Name | zigzag }}
</div>

<!-- Directives -->
<home-directive></home-directive>
<div home-directive></div>
<div class="home-directive"></div> 
<button type="button" name="home" ng-click="RedirectToHome()">Home</button>