
<div class="list-group table-of-contents">
    <a class="list-group-item list-group-item-fixedwidth" routerLink="/templatedrivenforms">Template Driven Forms</a>
    <a class="list-group-item list-group-item-fixedwidth" routerLink="/modeldrivenforms">Model Driven Forms</a>
    <a class="list-group-item list-group-item-fixedwidth" routerLink="/components">Components</a>
    <a class="list-group-item list-group-item-fixedwidth" routerLink="/directives">Directives</a>
    <a class="list-group-item list-group-item-fixedwidth" routerLink="/bindings">Bindings</a>
    <a class="list-group-item list-group-item-fixedwidth" routerLink="/ioevents">IO and Events</a>
    <a class="list-group-item list-group-item-fixedwidth" routerLink="/pipes">Pipe</a>
    <a class="list-group-item list-group-item-fixedwidth" routerLink="#progress-bars">Progress bars</a>
    <a class="list-group-item list-group-item-fixedwidth" routerLink="#containers">Containers</a>
    <a class="list-group-item list-group-item-fixedwidth" routerLink="#dialogs">Dialogs</a>
</div>